<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login_styles.css">
    <script src="./upload_img.js" defer></script>
    <title>Profile</title>
</head>
<body>
    <div class="arrange">
        <div class="profile">
            <div class="menu" id="menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav id="companystuff">
                <ul>
                  <li><a href="#">version</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Terms of use</a></li>
                  <li>
                    <form action="/logout" method="POST">
                        <button class="logout">Logout</button>
                    </form>
                  </li>
                </ul>
            </nav>
            <div class="profile_img">
                <img src=/images/<%= imgPath %> class="avatar" alt="default">
                <div class="upload_photo">
                    <form action="/upload" enctype="multipart/form-data" method="POST">
                        <label for="image">
                            Upload image....
                            <input type="file" name="prfimg" id="image"  accept="image/png, image/jpg, image/jpeg">
                            <input type="hidden" name="id" value=<%= id %>>
                        </label>
                        <input type="submit" style="display: initial;">
                    </form>
                </div>
                <h3><%= name %></h3>
                <small><%= email %></small>
            </div>
            <br>
            <div class="description">
                <h4>description:</h4>
                <p class="worddescription">
                <%= description %>
                </p>
            </div>
            <br>
            <div class="socials">
                <h4>Social links:</h4>
                <ul>
                    <% for (i = 0; i < socials_list.length; i++){ %>
                        <li><%= socials_list[i].social %>: <a href="#"><%= socials_list[i].link %></a></li>
                    <% } %>
                </ul>
            </div>
            <br>
            <h4>Win count: 0<span>1</span></h4>
            <br>
            <div class="recent_debates">
                <h4>Recent debates:</h4>
                <div class="debates">
                    <ul>
                        <li>Topic</li>
                        <li>topi</li>
                        <li>teat</li>
                    </ul>
                </div>
            </div>
            <div class="fillprf">
                
                <form action="/fillprofile" method="POST" class="editform" id="editform">
                    <textarea name="descr" id="desc" cols="30" rows="9" maxlength="250" placeholder=" Describe yourself...."></textarea>
                    <br>
                    <label for="email">
                        email:
                        <input type="email" name="email" id="email" value=<%= email %>>
                    </label>
                    <br>
    
                    <% for (i = 0; i < socials_list.length; i++){ %>
                        <label for=<%= socials_list[i].social %>>
                        <%= socials_list[i].social %>: 
                        <input type="text" name=<%= socials_list[i].social %> id=<%= socials_list[i].social %> value=<%= socials_list[i].link %>>
                        </label>
                        <br>
                    <% } %>
    
                    <input type="submit" value="Change">
                </form>
            </div>
            <br>
            <br>
            <button id="edit">Edit...</button>
            <p>© 2022 Tobi, Inc.</p>
        
        </div>
        <div class="room_sections">
            <div class="rooms">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="roominit">
                <!-- <a href="/config">make room</a>
                <button onclick="configure()">make room</button> -->
                <button id="showconfigurations">make room</button>
                <div id="configmenu" style='display: none'>
                    <form action="/config" method="POST">
                        <label for="show_status">public</label>
                        <input type="radio" name="show_status" value="public">
                        <br>
                        <label for="show_status">private</label>
                        <input type="radio" name="show_status" value="private">
                        <br>
                        <label for="topic">topic</label>
                        <input type="text" name="topic" id="topic" value="d" required>
                        <br>
                        <textarea name="description" id="description" cols="30" rows="9" maxlength="250" placeholder=" Describe yourself...." value="ds"></textarea>
                        <br>
                        <input type="submit" value="Start room">
                    </form>
                </div>
                <form action="/joinroom" method="POST">
                    <input type="text" name="room_id" id="room_id">
                    <input type="submit" value="search">
                </form>
            </div>
        </div>
    </div>
</body>
</html>