<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <script>
        const ROOMID = "<%= roomID %>"
        const ORGID = "<%= orguserID %>"
        const ORGNAME = "<%= orguserNAME %>"
        const ORGINFO = "<%= roomINFO %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../script.js" defer></script>
    <style>
        #records{
            display: grid;
            grid-template-columns: repeat(auto-fill, 100px);
            grid-auto-rows: 100px
        }
        #records p {
            margin: 0px;
        }
        video{
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <h1><%= roomINFO.topic %></h1>
    <h3><%= roomINFO.desc %></h3>
    <div id="records"></div>
    <br>
    <div class="participants">
        <ol id="p_list">
            <% for (i = 0; i < roomINFO.people.length; i++){ %>
                <li>
                    name: <%= roomINFO.people[i].name %>
                    <br>
                    email: <%= roomINFO.people[i].email %>
                    <br>
                    description: <%= roomINFO.people[i].description %>
                    <br>
                    role: <%= roomINFO.people[i].role %>
                    <br>
                </li>
            <% } %>
        </ol>
    </div>
</body>
</html>